@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
body {
  background-color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #333333; }

h1,
h2,
h3,
h4,
h5 {
  color: #134074;
  text-transform: none; }

h1 {
  text-transform: uppercase; }

p {
  color: #333333;
  word-wrap: break-word; }

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #EF2D56;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    color: #022B3A; }

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.link-center {
  text-align: center; }

.no-link {
  cursor: default;
  pointer-events: none; }

.text-white {
  color: #FFFFFF; }

.bold-text {
  font-weight: bold; }

.no-break {
  white-space: nowrap; }

img {
  margin: 0 auto; }

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding: 0.8rem 1rem;
  height: 300px; }
  .navbar .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; }
  .navbar .brand-back {
    position: absolute;
    top: 0;
    left: 15px;
    background-image: url("../assets/images/logo_back.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-width: 130px;
    min-height: 115px;
    z-index: 1000; }
  .navbar .navbar-brand {
    color: #FFFFFF;
    margin-right: 0;
    margin-top: 25px; }
  .navbar .navbar-toggler {
    position: absolute;
    top: 15px;
    right: 15px;
    padding-top: 15px;
    border-color: transparent;
    z-index: 1000; }
    .navbar .navbar-toggler .burger {
      display: block;
      height: 4px;
      width: 28px;
      background-color: #333333;
      transform: skew(5deg);
      transition: all .275s; }
      .navbar .navbar-toggler .burger:before, .navbar .navbar-toggler .burger:after {
        content: '';
        display: block;
        height: 100%;
        background-color: #333333;
        transition: all .275s; }
      .navbar .navbar-toggler .burger:before {
        transform: translateY(-16px) skew(-10deg); }
      .navbar .navbar-toggler .burger:after {
        transform: translateY(-12px) translateX(-2px) skew(-20deg); }
    .navbar .navbar-toggler:hover, .navbar .navbar-toggler:active, .navbar .navbar-toggler:focus {
      outline: none; }
    .navbar .navbar-toggler[aria-expanded="true"] .burger {
      background-color: #FFFFFF;
      transform: skew(5deg) translateY(-8px) rotate(-45deg);
      transition-delay: .5s; }
      .navbar .navbar-toggler[aria-expanded="true"] .burger:before {
        background-color: #FFFFFF;
        transform: translateY(0px) skew(-10deg) rotate(75deg);
        transition-delay: .5s; }
      .navbar .navbar-toggler[aria-expanded="true"] .burger:after {
        transform: translateY(-12px) translateX(10px) skew(-20deg);
        opacity: 0; }
  .navbar .navbar-collapse {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s; }
    .navbar .navbar-collapse.collapse:not(.show) {
      display: block; }
    .navbar .navbar-collapse .navbar-nav {
      height: 93%;
      justify-content: center;
      transform: translateX(-18%) skew(-16deg); }
      .navbar .navbar-collapse .navbar-nav .nav-item {
        transform: skew(16deg);
        text-align: right; }
        .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          opacity: 0;
          font-weight: 600;
          transform: translateY(-10px);
          color: #FFFFFF; }
        .navbar .navbar-collapse .navbar-nav .nav-item:first-child {
          transition: all 275ms 175ms; }
        .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(2) {
          transition: all 275ms 225ms; }
        .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(3) {
          transition: all 275ms 275ms; }
        .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(4) {
          transition: all 275ms 325ms; }
        .navbar .navbar-collapse .navbar-nav .nav-item:last-child {
          transition: all 275ms 375ms; }
    .navbar .navbar-collapse:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: -15px;
      background-color: #134074;
      transform-origin: 0 0;
      transform: skew(-14deg) translateX(-120%);
      transition: all .275s .1s; }
    .navbar .navbar-collapse.show {
      opacity: 1;
      z-index: 100;
      visibility: visible; }
      .navbar .navbar-collapse.show .navbar-nav .nav-item .nav-link {
        opacity: 1;
        transform: translateY(0); }
      .navbar .navbar-collapse.show:before {
        transform: skew(-14deg) translateX(0); }

@media (min-width: 576px) {
  .navbar .container {
    max-width: none; } }

@media (min-width: 768px) {
  .navbar {
    height: auto; }
    .navbar .container {
      position: relative;
      max-width: 720px;
      overflow: inherit; }
    .navbar .brand-back {
      top: -13px;
      left: -35px; }
    .navbar .navbar-collapse {
      position: relative;
      opacity: 1;
      z-index: 1;
      visibility: visible;
      transition: all .375s; }
      .navbar .navbar-collapse .navbar-nav {
        height: auto;
        justify-content: flex-start;
        transform: none; }
        .navbar .navbar-collapse .navbar-nav .nav-item {
          transform: none;
          text-align: left; }
          .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
            opacity: 1;
            font-weight: 600;
            transform: none;
            color: #333333; }
            .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
              color: #B2B1B9; }
          .navbar .navbar-collapse .navbar-nav .nav-item:first-child, .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(2), .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(3), .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(4), .navbar .navbar-collapse .navbar-nav .nav-item:last-child {
            transition: none; }
          .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
            color: #B2B1B9; }
        .navbar .navbar-collapse .navbar-nav.social {
          margin-left: 13px; }
          .navbar .navbar-collapse .navbar-nav.social .nav-item {
            margin: auto .250rem; }
            .navbar .navbar-collapse .navbar-nav.social .nav-item .nav-link {
              font-weight: 400;
              border: 1px solid #B2B1B9;
              border-radius: 50%;
              padding: 0;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center; }
              .navbar .navbar-collapse .navbar-nav.social .nav-item .nav-link:hover, .navbar .navbar-collapse .navbar-nav.social .nav-item .nav-link:active, .navbar .navbar-collapse .navbar-nav.social .nav-item .nav-link:focus {
                border: 1px solid #134074;
                background-color: #134074;
                color: #FFFFFF; }
      .navbar .navbar-collapse:before {
        display: none; }
      .navbar .navbar-collapse.show .navbar-nav .nav-item .nav-link {
        opacity: 1;
        transform: none; }
      .navbar .navbar-collapse.show:before {
        transform: none; } }

@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px; }
  .navbar .brand-back {
    left: 15px; }
  .navbar .navbar-collapse .navbar-nav.social {
    margin-left: 30px; }
    .navbar .navbar-collapse .navbar-nav.social .nav-item {
      margin: auto .5rem; } }

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px; } }

.btn {
  font-size: 16px; }

.btn-general, .btn-general.active.focus, .btn-general.active:focus, .btn-general.active:hover, .btn-general.focus:active, .btn-general:active:focus, .btn-general:active:hover {
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #134074;
  padding: 10px 15px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 25px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 30px;
  outline: none; }
  .btn-general:hover, .btn-general.active:hover, .btn-general:hover:active, .btn-general:active, .btn-general.focus:active, .btn-general:active:focus, .btn-general:active:hover, .btn-general:focus, .btn-general.active:focus, .btn-general:focus:active {
    background-color: #022B3A;
    text-decoration: none;
    color: #FFFFFF;
    border: none; }

.banner {
  position: relative; }
  .banner:after {
    content: '';
    position: absolute;
    right: 0;
    background-image: url("../assets/images/testing.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 832px;
    height: 909px; }
