@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/ProximaNova-Regular/ProximaNova-Regular.eot"), url("../assets/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/ProximaNova-Regular/ProximaNova-Regular.woff2") format("woff2"), url("../assets/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../assets/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/ProximaNova-Semibold/ProximaNova-Semibold.eot"), url("../assets/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/ProximaNova-Semibold/ProximaNova-Semibold.woff2") format("woff2"), url("../assets/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"), url("../assets/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/ProximaNova-Bold/ProximaNova-Bold.eot"), url("../assets/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"), url("../assets/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../assets/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/ProximaNova-Extrabld/ProximaNova-Extrabld.eot"), url("../assets/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../assets/ProximaNova-Extrabld/ProximaNova-Extrabld.woff2") format("woff2"), url("../assets/ProximaNova-Extrabld/ProximaNova-Extrabld.woff") format("woff"), url("../assets/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: #FFFFFF;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #56565A;
}

h1,
h2,
h3,
h4,
h5 {
  color: #FAA21D;
  text-transform: none;
}

p {
  color: #56565A;
  word-wrap: break-word;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #C4DA5A;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
  color: #022B3A;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.link-center {
  text-align: center;
}

.no-link {
  cursor: default;
  pointer-events: none;
}

.text-white {
  color: #FFFFFF;
}

.bold-text {
  font-weight: bold;
}

.no-break {
  white-space: nowrap;
}

img {
  margin: 0 auto;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

header {
  position: absolute;
  width: 100%;
}

footer {
  background-color: #56565a;
  padding: 25px 0 35px;
  text-align: center;
}

footer p {
  color: #FFFFFF;
  margin-bottom: 0;
}

#logo .cls-1 {
  fill: #FFFFFF;
}

#canada .cls-1 {
  fill: none;
}

#canada .cls-2, #canada .cls-4 {
  fill: #fff;
}

#canada .cls-3 {
  -webkit-clip-path: url(#clip-path);
          clip-path: url(#clip-path);
}

#canada .cls-4, #canada .cls-5 {
  fill-rule: evenodd;
}

#canada .cls-5 {
  fill: #d1041f;
}

#usa .cls-1 {
  fill: none;
}

#usa .cls-2, #usa .cls-7 {
  fill: #fff;
}

#usa .cls-3 {
  -webkit-clip-path: url(#clip-path);
          clip-path: url(#clip-path);
}

#usa .cls-4 {
  -webkit-clip-path: url(#clip-path-2);
          clip-path: url(#clip-path-2);
}

#usa .cls-5 {
  fill: #d1041f;
}

#usa .cls-5, #usa .cls-6, #usa .cls-7 {
  fill-rule: evenodd;
}

#usa .cls-6 {
  fill: #325875;
}

#lightbulb .cls-1, #lightbulb .cls-3 {
  fill: none;
  stroke: #0071bc;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#lightbulb .cls-1 {
  stroke-width: 3px;
}

#lightbulb .cls-2 {
  fill: #faa21d;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#lightbulb .cls-3 {
  stroke-width: 3.9px;
}

#calculator .cls-1 {
  fill: none;
  stroke: #0071bc;
  stroke-miterlimit: 10;
  stroke-width: 4.29px;
}

#calculator .cls-2 {
  fill: #df84ba;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#bill .cls-1 {
  fill: #c4da5a;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#bill .cls-2, #bill .cls-3 {
  fill: none;
  stroke: #0071bc;
  stroke-linejoin: round;
  stroke-width: 3px;
}

#bill .cls-3 {
  stroke-linecap: square;
}

#gear .cls-1 {
  fill: #b1e1fa;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#gear .cls-2, #gear .cls-3 {
  fill: none;
  stroke: #0071bc;
  stroke-linejoin: round;
  stroke-width: 3px;
}

#gear .cls-3 {
  stroke-linecap: round;
}

#checklist-left .cls-1 {
  fill: #dae245;
}

#checklist-left .cls-2, #checklist-left .cls-3 {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 5.58px;
}

#checklist-left .cls-2 {
  stroke: #c4da5d;
}

#checklist-left .cls-3 {
  stroke: #ee7623;
}

#checklist-right .cls-1 {
  fill: #66beeb;
}

#checklist-right .cls-2, #checklist-right .cls-3, #checklist-right .cls-4, #checklist-right .cls-5 {
  fill: none;
  stroke: #ee7623;
}

#checklist-right .cls-2 {
  stroke-miterlimit: 10;
}

#checklist-right .cls-2, #checklist-right .cls-3, #checklist-right .cls-5 {
  stroke-width: 5.58px;
}

#checklist-right .cls-3 {
  stroke-linecap: square;
}

#checklist-right .cls-3, #checklist-right .cls-4, #checklist-right .cls-5 {
  stroke-linejoin: round;
}

#checklist-right .cls-4 {
  stroke-width: 5.07px;
}

#checklist .cls-1, #checklist .cls-3 {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 5.07px;
}

#checklist .cls-1 {
  stroke: #46a040;
}

#checklist .cls-2 {
  fill: #df8aba;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#checklist .cls-3 {
  stroke: #df8aba;
}

#clock .cls-1 {
  fill: #f9be00;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#clock .cls-2, #clock .cls-3 {
  fill: none;
  stroke: #46a040;
  stroke-linecap: round;
  stroke-width: 4.73px;
}

#clock .cls-2 {
  stroke-linejoin: round;
}

#clock .cls-3 {
  stroke-miterlimit: 10;
}

.btn {
  font-size: 16px;
}

.btn-general, .btn-general.active.focus, .btn-general.active:focus, .btn-general.active:hover, .btn-general.focus:active, .btn-general:active:focus, .btn-general:active:hover {
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #FAA21D;
  padding: 10px 15px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 25px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 30px;
  outline: none;
}

.btn-general:hover, .btn-general.active:hover, .btn-general:hover:active, .btn-general:active, .btn-general.focus:active, .btn-general:active:focus, .btn-general:active:hover, .btn-general:focus, .btn-general.active:focus, .btn-general:focus:active {
  background-color: #022B3A;
  text-decoration: none;
  color: #FFFFFF;
  border: none;
}

.banner {
  background: #9E1F64;
  background: -webkit-gradient(linear, right top, left top, from(#9E1F64), to(#92278F));
  background: linear-gradient(to left, #9E1F64, #92278F);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#9E1F64', end-colourStr='#92278F', gradientType='1');
  padding-top: 80px;
  padding-bottom: 30px;
}

.banner .caption {
  text-align: center;
}

.banner .caption h1 {
  color: #FFFFFF;
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.banner .caption p {
  color: #FFFFFF;
  font-size: .8rem;
}

.payroll-operations {
  padding-top: 15px;
}

.payroll-operations h2 {
  color: #016aa8;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.payroll-operations .align-mobile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payroll-operations .tagline {
  font-size: 0.9rem;
  margin-top: 35px;
  margin-bottom: 35px;
}

.payroll-operations .image-container {
  position: relative;
}

.payroll-operations .image-container .numbers {
  position: absolute;
  bottom: 0;
  right: 0;
}

.payroll-operations .image-container .numbers p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 50px;
}

.payroll-operations .image-container .numbers.lightbulb p {
  color: #faa21d;
}

.payroll-operations .image-container .numbers.calculator {
  right: -75%;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.payroll-operations .image-container .numbers.calculator p {
  color: #cb4398;
}

.payroll-operations .image-container .numbers.bill {
  right: -75%;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.payroll-operations .image-container .numbers.bill p {
  color: #c4da5a;
}

.payroll-operations .image-container .numbers.gear {
  right: -75%;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.payroll-operations .image-container .numbers.gear p {
  color: #64beeb;
}

.hr-system {
  background-color: #F4F4F5;
  padding: 30px 0;
}

.hr-system h2 {
  color: #faa21d;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.hr-system .info-container .text {
  text-align: center;
}

.hr-system .info-container .text > span {
  font-size: 50px;
  font-weight: 600;
}

.hr-system .info-container .text > span.green {
  color: #46a040;
}

.hr-system .info-container .text > span.blue {
  color: #65beeb;
}

.hr-system .mobile {
  margin-bottom: 30px;
}

.hr-system .mobile .col-6:first-child {
  position: relative;
}

.hr-system .mobile .col-6:first-child:after {
  content: '';
  position: absolute;
  background-color: #696a69;
  width: 8px;
  height: calc(100% + 30px);
  right: 5px;
  top: -15px;
}

.hr-system .mobile svg {
  width: 130px;
  height: 229px;
  display: block;
  position: relative;
}

.hr-system .mobile svg#checklist-left {
  margin-left: auto;
  right: -15px;
}

.hr-system .mobile svg#checklist-right {
  margin-right: auto;
  left: -20px;
}

.hr-system .margin-custom {
  margin-top: 50px;
}

.hr-system .progress-container {
  position: relative;
  background-color: #faa21d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.hr-system .progress-container:before, .hr-system .progress-container:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.hr-system .progress-container:before {
  background-color: #faa21d;
  width: 40px;
  height: 40px;
  right: -5px;
  top: -35px;
}

.hr-system .progress-container:after {
  background-color: #ffd923;
  width: 55px;
  height: 55px;
  right: -54px;
  top: 0;
}

.hr-system .progress-container span {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 50px;
}

.business-case {
  padding: 15px 0;
}

.business-case h2 {
  color: #c4da5a;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.business-case .counter-check .up {
  font-size: 50px;
  font-weight: 600;
}

.business-case .counter-check .up.purple {
  color: #cb4398;
}

.business-case .counter-check .up.yellow {
  color: #faa21d;
}

.simplify {
  background-color: #cb4398;
  padding: 15px 0;
}

.simplify h2 {
  color: #FFFFFF;
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

.simplify p {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 60px;
}

.simplify span {
  color: #FFFFFF;
}

@media (min-width: 576px) {
  .banner .left-side {
    position: relative;
    z-index: 1;
  }
  .banner .right-side {
    position: relative;
    background-image: none;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .banner {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .banner .left-side:before {
    top: 2px;
    right: 66px;
    background-size: 140px;
    width: 128px;
    height: 118px;
  }
  .banner .right-side:before {
    top: -12px;
    left: 60px;
    background-size: 155px;
    width: 174px;
    height: 118px;
  }
  .banner .caption h1 {
    font-size: 2.2rem;
  }
  .banner .caption p {
    font-size: 15px;
  }
  .payroll-operations {
    padding-top: 32px;
  }
  .payroll-operations h2 {
    margin-bottom: 30px;
  }
  .payroll-operations .first-draws svg {
    width: 180px;
    height: 225px;
  }
  .payroll-operations .tagline {
    height: 60px;
  }
  .payroll-operations .align-mobile {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .payroll-operations .image-container .numbers p {
    font-size: 66px;
  }
  .hr-system h2 {
    margin-bottom: 30px;
  }
  .hr-system .middle-bar {
    position: relative;
  }
  .hr-system .middle-bar:before {
    content: '';
    position: absolute;
    background-color: #696a69;
    top: -15px;
    width: 10px;
    right: 0px;
    height: calc(100% + 30px);
  }
  .hr-system .info-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 220px;
  }
  .hr-system .info-container .text {
    text-align: left;
  }
  .hr-system .info-container .text > span {
    font-size: 60px;
  }
  .hr-system .info-container .svg-container {
    position: absolute;
    top: 0;
    width: 125px;
    height: 220px;
  }
  .hr-system .info-container .svg-container.left-side {
    right: -108px;
  }
  .hr-system .info-container .svg-container.right-side {
    left: -135px;
  }
  .hr-system .info-container .svg-container svg {
    width: 100%;
    height: 100%;
  }
  .hr-system .margin-custom {
    margin-top: 100px;
  }
  .hr-system .progress-container {
    padding: 36px 0;
    width: auto;
    height: auto;
    display: block;
    margin: 0;
  }
  .hr-system .progress-container span {
    font-size: 60px;
  }
  .business-case {
    padding: 32px 0;
  }
  .business-case h2 {
    margin-bottom: 30px;
  }
  .business-case .counter-check .up {
    font-size: 39px;
  }
  .simplify {
    padding: 32px 0;
  }
  .simplify h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 992px) {
  .banner .left-side:before {
    top: 6px;
    right: 75px;
    background-size: 192px;
    width: 202px;
    height: 152px;
  }
  .banner .right-side:before {
    left: 94px;
    background-size: 210px;
    width: 215px;
    height: 152px;
  }
  .banner .caption h1 {
    font-size: 35px;
  }
  .banner .caption p {
    font-size: 17px;
  }
  .payroll-operations {
    padding-bottom: 100px;
  }
  .payroll-operations h2 {
    font-size: 1.5rem;
  }
  .payroll-operations .first-draws .col-lg-5.offset-lg-1 {
    position: relative;
    margin-bottom: 100px;
  }
  .payroll-operations .first-draws .col-lg-5.offset-lg-1:before {
    content: "";
    position: absolute;
    background-color: #f4f4f5;
    left: 0;
    bottom: -50px;
    width: calc(100% - 50px);
    height: 8px;
  }
  .payroll-operations .first-draws .col-lg-5.offset-lg-1.left-align:before {
    left: -40px;
  }
  .payroll-operations .col-lg-5.offset-lg-1 {
    position: relative;
  }
  .payroll-operations .col-lg-5.offset-lg-1.middle:after {
    content: "";
    position: absolute;
    background-color: #f4f4f5;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
  }
  .payroll-operations .image-container .numbers.lightbulb {
    right: -30%;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .payroll-operations .image-container .numbers.calculator {
    right: -95%;
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
  .payroll-operations .image-container .numbers.bill {
    right: -95%;
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
  .payroll-operations .image-container .numbers.gear {
    right: -95%;
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
  .hr-system h2 {
    font-size: 1.5rem;
  }
  .hr-system .middle-bar {
    position: relative;
  }
  .hr-system .middle-bar:before {
    width: 17px;
    right: -7px;
  }
  .hr-system .info-container {
    height: 318px;
  }
  .hr-system .info-container .text > span {
    font-size: 66px;
  }
  .hr-system .info-container .svg-container {
    width: 180px;
    height: 318px;
  }
  .hr-system .info-container .svg-container.left-side {
    right: -190px;
  }
  .hr-system .info-container .svg-container.right-side {
    left: -188px;
  }
  .hr-system .progress-container {
    padding: 62px 0;
  }
  .hr-system .progress-container span {
    font-size: 66px;
  }
  .business-case h2 {
    font-size: 1.5rem;
  }
  .business-case .counter-check .up {
    font-size: 57px;
  }
  .simplify h2 {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  .banner .left-side:before {
    top: 4px;
    right: 92px;
    background-size: 230px;
    width: 240px;
    height: 192px;
  }
  .banner .right-side:before {
    top: 1px;
    left: 116px;
    background-size: 250px;
    width: 250px;
  }
  .payroll-operations .tagline {
    font-size: 1rem;
  }
  .payroll-operations .image-container .numbers.lightbulb {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .payroll-operations .image-container .numbers.calculator {
    right: -75%;
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
  .payroll-operations .image-container .numbers.bill {
    right: -75%;
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
  .payroll-operations .image-container .numbers.gear {
    right: -75%;
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
  .hr-system .info-container {
    height: 392px;
  }
  .hr-system .info-container .svg-container {
    width: 222px;
    height: 392px;
  }
  .hr-system .info-container .svg-container.left-side {
    right: -224px;
  }
  .hr-system .info-container .svg-container.right-side {
    left: -220px;
  }
  .hr-system .progress-container {
    padding: 85px 0;
  }
  .business-case .counter-check .up {
    font-size: 66px;
  }
}
/*# sourceMappingURL=main.css.map */