#logo {
    .cls-1 {
        fill: $white;
    }
}
#canada {
    .cls-1{fill:none;}
    .cls-2,.cls-4{fill:#fff;}
    .cls-3{clip-path:url(#clip-path);}
    .cls-4,.cls-5{fill-rule:evenodd;}
    .cls-5{fill:#d1041f;}
}

#usa {
    .cls-1{fill:none;}
    .cls-2,.cls-7{fill:#fff;}
    .cls-3{clip-path:url(#clip-path);}
    .cls-4{clip-path:url(#clip-path-2);}
    .cls-5{fill:#d1041f;}
    .cls-5,.cls-6,.cls-7{fill-rule:evenodd;}
    .cls-6{fill:#325875;}
}

#lightbulb {
    .cls-1,.cls-3{fill:none;stroke:#0071bc;stroke-linecap:round;stroke-linejoin:round;}
    .cls-1{stroke-width:3px;}
    .cls-2{
        fill:#faa21d;
        opacity: 0;
    }
    .cls-3{stroke-width:3.9px;}
}

#calculator {
    .cls-1{fill:none;stroke:#0071bc;stroke-miterlimit:10;stroke-width:4.29px;}
    .cls-2{
        fill:#df84ba;
        opacity: 0;
    }
}

#bill {
    .cls-1{
        fill:#c4da5a;
        opacity: 0;
    }
    .cls-2,.cls-3{fill:none;stroke:#0071bc;stroke-linejoin:round;stroke-width:3px;}
    .cls-3{stroke-linecap:square;}
}

#gear {
    .cls-1{
        fill:#b1e1fa;
        opacity: 0;
    }
    .cls-2,.cls-3{fill:none;stroke:#0071bc;stroke-linejoin:round;stroke-width:3px;}
    .cls-3{stroke-linecap:round;}
}

#checklist-left {
    .cls-1{fill:#dae245;}
    .cls-2,.cls-3{fill:none;stroke-linejoin:round;stroke-width:5.58px;}
    .cls-2{stroke:#c4da5d;}
    .cls-3{stroke:#ee7623;}
}

#checklist-right {
    .cls-1{fill:#66beeb;}
    .cls-2,.cls-3,.cls-4,.cls-5{fill:none;stroke:#ee7623;}
    .cls-2{stroke-miterlimit:10;}
    .cls-2,.cls-3,.cls-5{stroke-width:5.58px;}
    .cls-3{stroke-linecap:square;}
    .cls-3,.cls-4,.cls-5{stroke-linejoin:round;}
    .cls-4{stroke-width:5.07px;}
}

#checklist {
    .cls-1,.cls-3{fill:none;stroke-linejoin:round;stroke-width:5.07px;}
    .cls-1{stroke:#46a040;}
    .cls-2{
        fill:#df8aba;
        opacity: 0;
    }
    .cls-3{stroke:#df8aba;}
}

#clock {
    .cls-1{
        fill:#f9be00;
        opacity: 0;
    }
    .cls-2,.cls-3{fill:none;stroke:#46a040;stroke-linecap:round;stroke-width:4.73px;}
    .cls-2{stroke-linejoin:round;}
    .cls-3{stroke-miterlimit:10;}
}

// Animation for fill

#lightbulb {
    .fadeIn{
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 2s;
    }
}

#calculator {
    .fadeIn{
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 2s;
    }
}

#bill {
    .fadeIn{
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 2s;
    }
}

#gear {
    .fadeIn{
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 2s;
    }
}

#checklist {
    .fadeIn{
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 2s;
    }
}

#clock {
    .fadeIn{
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 2s;
    }
}