$primary-font: 'Proxima Nova', sans-serif;
$secondary-font: 'Poppins', sans-serif;

$text-color: #56565A !default;

$white: #FFFFFF;
$black: #000000;
$grey: #E8EAEB;
$grey-divider: #CCCCCC;
$wrongurl-color: #EEEEEE;
$primary-color: #FAA21D;
$secondary-color: #CB4398;
$third-color: #C4DA5A;
$btn-color: $primary-color;
$hover-color: #022B3A;
$body-color: $white;

$asset-base-path: '../assets' !default;